# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

.idea

# Cmake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake-build-debug/
cmake-build-release/
Makefile
output.txt
build
*.cbp
compile_commands.json

# Test
Testing
*_test
gruut_enterprise_merger

lib/leveldb/include/port/port_config\.h

lib/leveldb/leveldbutil

lib/leveldb/libleveldb\.a

CTestTestfile\.cmake

lib/leveldb/leveldbConfigVersion\.cmake